[submodule "plugin-test/site/pack/packer/start/packer.nvim"]
	path = plugin-test/site/pack/packer/start/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
	shallow = true
[submodule "plugin-test/site/pack/packer/start/nvim-lspconfig"]
	path = plugin-test/site/pack/packer/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
	shallow = true
[submodule "plugin-test/site/pack/packer/start/nlsp-settings.nvim"]
	path = plugin-test/site/pack/packer/start/nlsp-settings.nvim
	url = https://github.com/tamago324/nlsp-settings.nvim
	shallow = true
[submodule "plugin-test/site/pack/packer/start/null-ls.nvim"]
	path = plugin-test/site/pack/packer/start/null-ls.nvim
	url = https://github.com/jose-elias-alvarez/null-ls.nvim
	shallow = true
[submodule "plugin-test/site/pack/packer/start/FixCursorHold.nvim"]
	path = plugin-test/site/pack/packer/start/FixCursorHold.nvim
	url = https://github.com/antoinemadec/FixCursorHold.nvim
	shallow = true
[submodule "plugin-test/site/pack/packer/start/nvim-lsp-installer"]
	path = plugin-test/site/pack/packer/start/nvim-lsp-installer
	url = https://github.com/williamboman/nvim-lsp-installer
	shallow = true
[submodule "plugin-test/site/pack/packer/start/nvim-notify"]
	path = plugin-test/site/pack/packer/start/nvim-notify
	url = https://github.com/rcarriga/nvim-notify
	shallow = true
[submodule "plugin-test/site/pack/packer/start/structlog.nvim"]
	path = plugin-test/site/pack/packer/start/structlog.nvim
	url = https://github.com/Tastyep/structlog.nvim
	shallow = true
[submodule "plugin-test/site/pack/packer/start/popup.nvim"]
	path = plugin-test/site/pack/packer/start/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim
	shallow = true
[submodule "plugin-test/site/pack/packer/start/plenary.nvim"]
	path = plugin-test/site/pack/packer/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
	shallow = true
[submodule "plugin-test/site/pack/packer/start/telescope.nvim"]
	path = plugin-test/site/pack/packer/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
	shallow = true
[submodule "plugin-test/site/pack/packer/start/telescope-fzf-native.nvim"]
	path = plugin-test/site/pack/packer/start/telescope-fzf-native.nvim
	url = https://github.com/nvim-telescope/telescope-fzf-native.nvim
	shallow = true
[submodule "plugin-test/site/pack/packer/start/nvim-cmp"]
	path = plugin-test/site/pack/packer/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
	shallow = true
[submodule "plugin-test/site/pack/packer/start/friendly-snippets"]
	path = plugin-test/site/pack/packer/start/friendly-snippets
	url = https://github.com/rafamadriz/friendly-snippets
	shallow = true
[submodule "plugin-test/site/pack/packer/start/LuaSnip"]
	path = plugin-test/site/pack/packer/start/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip
	shallow = true
[submodule "plugin-test/site/pack/packer/start/cmp-nvim-lsp"]
	path = plugin-test/site/pack/packer/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
	shallow = true
[submodule "plugin-test/site/pack/packer/start/cmp_luasnip"]
	path = plugin-test/site/pack/packer/start/cmp_luasnip
	url = https://github.com/saadparwaiz1/cmp_luasnip
	shallow = true
[submodule "plugin-test/site/pack/packer/start/cmp-buffer"]
	path = plugin-test/site/pack/packer/start/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
	shallow = true
[submodule "plugin-test/site/pack/packer/start/cmp-path"]
	path = plugin-test/site/pack/packer/start/cmp-path
	url = https://github.com/hrsh7th/cmp-path
	shallow = true
[submodule "plugin-test/site/pack/packer/start/lua-dev.nvim"]
	path = plugin-test/site/pack/packer/start/lua-dev.nvim
	url = https://github.com/folke/lua-dev.nvim
	shallow = true
[submodule "plugin-test/site/pack/packer/start/nvim-autopairs"]
	path = plugin-test/site/pack/packer/start/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs
	shallow = true
[submodule "plugin-test/site/pack/packer/start/nvim-treesitter"]
	path = plugin-test/site/pack/packer/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
	shallow = true
[submodule "plugin-test/site/pack/packer/opt/nvim-ts-context-commentstring"]
	path = plugin-test/site/pack/packer/opt/nvim-ts-context-commentstring
	url = https://github.com/JoosepAlviste/nvim-ts-context-commentstring
	shallow = true
[submodule "plugin-test/site/pack/packer/start/nvim-tree.lua"]
	path = plugin-test/site/pack/packer/start/nvim-tree.lua
	url = https://github.com/kyazdani42/nvim-tree.lua
	shallow = true
[submodule "plugin-test/site/pack/packer/opt/gitsigns.nvim"]
	path = plugin-test/site/pack/packer/opt/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
	shallow = true
[submodule "plugin-test/site/pack/packer/opt/which-key.nvim"]
	path = plugin-test/site/pack/packer/opt/which-key.nvim
	url = https://github.com/folke/which-key.nvim
	shallow = true
[submodule "plugin-test/site/pack/packer/opt/Comment.nvim"]
	path = plugin-test/site/pack/packer/opt/Comment.nvim
	url = https://github.com/numToStr/Comment.nvim
	shallow = true
[submodule "plugin-test/site/pack/packer/start/project.nvim"]
	path = plugin-test/site/pack/packer/start/project.nvim
	url = https://github.com/ahmedkhalf/project.nvim
	shallow = true
[submodule "plugin-test/site/pack/packer/start/nvim-web-devicons"]
	path = plugin-test/site/pack/packer/start/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons
	shallow = true
[submodule "plugin-test/site/pack/packer/start/lualine.nvim"]
	path = plugin-test/site/pack/packer/start/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim
	shallow = true
[submodule "plugin-test/site/pack/packer/opt/barbar.nvim"]
	path = plugin-test/site/pack/packer/opt/barbar.nvim
	url = https://github.com/romgrk/barbar.nvim
	shallow = true
[submodule "plugin-test/site/pack/packer/start/nvim-dap"]
	path = plugin-test/site/pack/packer/start/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap
	shallow = true
[submodule "plugin-test/site/pack/packer/start/DAPInstall.nvim"]
	path = plugin-test/site/pack/packer/start/DAPInstall.nvim
	url = https://github.com/Pocco81/DAPInstall.nvim
	shallow = true
[submodule "plugin-test/site/pack/packer/opt/dashboard-nvim"]
	path = plugin-test/site/pack/packer/opt/dashboard-nvim
	url = https://github.com/ChristianChiarulli/dashboard-nvim
	shallow = true
[submodule "plugin-test/site/pack/packer/opt/toggleterm.nvim"]
	path = plugin-test/site/pack/packer/opt/toggleterm.nvim
	url = https://github.com/akinsho/toggleterm.nvim
	shallow = true
